body {
  text-align: left;
  font-family:sans-serif;
  background-image:linear-gradient(to bottom right, #33adff , #7300e6);
  color:white;
}

h1 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

#description {
  text-align: center;
}

#survey-form {
  width: 600px;
  padding: 20px;
  margin: auto;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

#name {
  width: 500px;
  padding: 10px;
}

#email {
  width: 500px;
  padding: 10px;
}

#number {
  width: 95%;
  padding: 10px;
}

#submit {
  display: block;
  width: 101%;
  padding: 0.75rem;
  color: black;
  background-color: #34eb4c;
  cursor: pointer;
}

h1 {
  font-size: 25px;
  font-weight: 900;
}

#survey-form {
  background-color:rgba(0,0,0,0.6);
  width: 600px;
  padding: 20px;
  margin: auto;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

#name {
  width: 95%;
  padding: 10px;
}

#email {
  width: 95%;
  padding: 10px;
}

#dropdown {
  width: 100%;
  padding: 10px;
}

#textbox {
  width: 100%;
  resize: vertical;
  min-height: 120px;
}